{% extends "base.html.twig" %}
{% block titre %} Liste des livres {% endblock %}

{% block contenu %}
    <table class="table text-center monTableau" id="tableauLivres">
                <thead>
                  <tr class="table-dark" id="titresColonne">
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Nombre de pages</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>

                <tbody> 
                    <tr>
                    <td><a href="/livres/La boite de Pandore">La boite de Pandore</a></td>
                    <td>Bernard Werber</td>
                    <td>576</td>
                    <td><a href="" class="btn btn-warning">Modifier</a></td>
                    <td><a href="" class="btn btn-danger">Supprimer</a></td>
                    </tr>

                    <tr>
                    <td><a href="/livres/Le sixième sommeil">Le sixième sommeil</a></td>
                    <td>Bernard Werber</td>
                    <td>405</td>
                    <td><a href="" class="btn btn-warning">Modifier</a></td>
                    <td><a href="" class="btn btn-danger">Supprimer</a></td>
                    </tr>

                    <tr>
                    <td><a href="/livres/La prophétie des abeilles">La prophétie des abeilles</a></td>
                    <td>Bernard Werber</td>
                    <td>500</td>
                    <td><a href="" class="btn btn-warning">Modifier</a></td>
                    <td><a href="" class="btn btn-danger">Supprimer</a></td>
                    </tr>

                    <tr>
                    <td><a href="/livres/La diagonale des reines">La diagonale des reines</a></td>
                    <td>Bernard Werber</td>
                    <td>570</td>
                    <td><a href="" class="btn btn-warning">Modifier</a></td>
                    <td><a href="" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="" class="btn btn-success d-block">Ajouter</a>
{% endblock %}